/* =============================================================
   GENERAL STYLES
 ============================================================ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,600&display=swap');

div2 {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-size: 14px;
}

.set-pad {
    padding-top:35px;
}
.set-row-pad {
    padding-top:30px;
    padding-bottom:50px;
}
/*=====================================
  NAVBAR STYLES 
    ===================================*/

.logo-custom {
    max-height: 70px;
}

#menu {
    background-color: rgba(28, 43, 75, 1);
    color: #fff;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
    min-height: 100px;
}


.navbar-inverse {
    border-color: transparent;
}

    .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a:hover {
        color: #FFF;
        padding: 42px 10px;
    }


/*=====================================
  HOME STYLES 
    ===================================*/
.home-sec {
    padding-top: 10px;
    padding-bottom: 60px;
    background: url(../img/maxresdefault.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

    .particles{
        background: rgba(38, 57, 88, 0.89);
        height: 700px;
    }

    .home-sec h1 {
        color: #fff;
        font-weight: 900;
        font-size: 50px;
        text-transform: uppercase;
        padding-bottom: 35px;
    }

    .home-sec h3 {
        text-transform: uppercase;
    }



.set-flexi {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    background-color: transparent;
    border: 0px solid #000;
    padding-top: 120px;
}

.flex-control-nav {
    display: none!important;
}

.set-flexi a {
    margin: 5px;
}
/*=====================================
  TAG LINE STYLES 
    ===================================*/

.tag-line {
    background: #E9E9E9;
    color: #000;
}

    .tag-line h2 {
        font-size: 20px;
        font-weight: 900;
        padding: 5px 10px 10px 5px;
        color: #005E5A;
    }

        .tag-line h2 > i {
            margin-left: 8px;
            margin-right: 8px;
        }
/*=====================================
  HEADER LINE STYLES 
    ===================================*/
.header-line {
    font-weight: 900;
    font-size: 25px;
    padding-bottom: 5px;
    padding-top: 25px;
    color: #000;
}

h1::after {
    content: " ";
    border: solid 2px #2f9484;
    display: block;
    width: 200px;
    margin: 12px auto;
}

/*=====================================
  ABOUT STYLES 
  ===================================*/
.about-div {
    padding: 80px 0px 20px 250px;
align-self: center;

    
}

.icon-round-border {
    border: 10px double #1A94C4;
    color: #2f9484;
    text-align: center;
    padding-top: 15px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    
    
}

    .icon-round-border:hover {
        color: #fff;
        border: 10px double #fff;
        background-color: #1A94C4;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        
      
    }

.about-div hr {
    border: 1px solid #1A94C4;
    padding-left: 100px;
    padding-right: 100px;
  
    
}

.about-div h3 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
   
}

.about-div p {
    padding-top: 10px;
    
    width: 150px;
    

    
}

.btn-set {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    margin-bottom: 30px;
 
}
/*=====================================
  FACULTY STYLES 
  ===================================*/
#faculty-sec {
    background-color: #000;
    color: #fff;
}

    #faculty-sec .header-line {
        color: #fff;
    }
.faculty-div h4 {
    line-height:30px;
    font-weight:700;
}
.faculty-div {
    padding: 30px;
}

    .faculty-div hr {
        border: 1px solid #1A94C4;
    }

    .faculty-div h3 {
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .faculty-div p {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .faculty-div img {
        border: 10px double #fff;
    }

/*=====================================
  CONTACT STYLES 
  ===================================*/
#contact-sec {
    padding-top: 10px;
    padding-bottom: 60px;
    background: url(../img/contact.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

#contact-sec .overlay {
        background: rgba(0, 0, 0, 0.76);
        min-height: 600px;
    }

    #contact-sec h1 {
        color:#fff;
    }
#contact-sec .form-control{
    background-color:rgba(255, 255, 255, 0);
    color:#fff;
}
/*=====================================
  Footer STYLES 
  ===================================*/
#footer {
    padding:5px 20px;
    background-color:#2d3d5a;
    text-align:right;
    color:#fff;
    font-size:15px;
}

#unique_features{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  h1,#unique_features{
    font-size: 2.5rem;
    font-family: 'Montserrat';
    font-weight: normal;
    color: #444;
    text-align: center;
    margin: 2rem 0;
  }
  
  .wrapper,#unique_features{
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
  }
  .wrapper .container{
    width: 70%;
  }
  
  .cols,#unique_features{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .col,#unique_features{
    width: calc(200% - 2rem);
    margin: 10rem;
    cursor: pointer;
  }
  
  .container,#unique_features{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
      -webkit-perspective: 1000px;
              perspective: 1000px;
  }
  
  .front,
  .back,#unique_features{
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    border-radius: 10px;
      background-position: center;
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      text-align: center;
      min-height: 280px;
      height: auto;
      border-radius: 10px;
      color: #fff;
      font-size: 1.5rem;
  }
  
  .back,#unique_features{
    background: #cedce7;
    background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  }
  
  .front:after,#unique_features{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
      display: block;
      opacity: .6;
      background-color: #000;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border-radius: 10px;
  }
  .container:hover .front,
  .container:hover .back,#unique_features{
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  
  .back,#unique_features{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
  
  .inner,#unique_features{
      -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
              transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
      position: absolute;
      left: 0;
      width: 100%;
      padding: 2rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
              perspective: inherit;
      z-index: 2;
  }
  
  .container .back,#unique_features{
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container .front,#unique_features{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container:hover .back,#unique_features{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .container:hover .front,#unique_features{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .front .inner p,#unique_features{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .front .inner p:after,#unique_features{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
  }
  
  .front .inner span,#unique_features{
    color: rgba(255,255,255,0.7);
    font-family: 'Montserrat';
    font-weight: 300;
  }
  
  @media screen and (max-width: 64rem){
    .col{
      width: calc(33.333333% - 2rem);
    }
  }
  
  @media screen and (max-width: 48rem){
    .col{
      width: calc(50% - 2rem);
    }
  }
  
  @media screen and (max-width: 32rem){
    .col{
      width: 100%;
      margin: 0 0 2rem 0;
    }
  }

